@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

a {
    text-decoration: none !important;
}

.mainContainer {
    height: 10.742168674698795vh;
    width: 100%;
    background-color: #24252A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #DEDFE4;
}

.buttonsContainer {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoName {
    font-family: 'Righteous', cursive;
    color: #DEDFE4;
    cursor: pointer;
}

.userInfo {
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePic {
    width: 14%;
    height: 50%;
    cursor: pointer;
}

.userName {
    margin-left: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.profileImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}