.main {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;    
    background-color: #DEDFE4;
    padding: 30px;
}

.mainTitle {
    color: #24252A;
    font-size: 48px;
    margin-bottom: 10px;
}

