.main {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;    
    padding: 30px;
}

.favoritesHeader {
    height: 200px;
    width: 90%;
    background: rgb(36,37,42);
    background: linear-gradient(138deg, rgba(36,37,42,1) 47%, rgba(222,223,224,1) 100%);
    display: flex;
    align-items: center;
    padding: 30px;
}


.mainTitle {
    color: #DEDFE4;
    font-size: 48px;
    margin-bottom: 10px;
    margin-left: 20px;
}

