.mainContainer {
    width: 100%;
    height: 100px;
    background-color: #DEDFE4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: white;
}
.action:hover {
    transform: scale(1.2);
}
