.mainContainer {
    width: 100%;
    height: 100px;
    background-color: #DEDFE4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: white;
}

.playing {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: white;
    animation: glowing 1s infinite;
}

@keyframes glowing {
    0% { border-radius: 50%; box-shadow: 0 0 3px #393b43; }
    50% { border-radius: 50%; box-shadow: 0 0 10px #28292f; }
    100% { border-radius: 50%; box-shadow: 0 0 3px #393b43; }
}
.action:hover {
    transform: scale(1.2);
}
